.DS_Store
.swp
.swo
*.swp
*.swo
*.pyc
*~.nib
build/
DerivedData/
xcuserdata
server/detector/detector
server/detector/hasher
server/freebase/data/
server/freebase/key
server/webservice/detection_app/temp
